.loading-popup {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: #1976d2;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*
        position: relative;
        right: 50%;
        top: 10%;
        z-index: 50;
        backdrop-filter: blur(20px);
    */
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-popup {
    font-size: 16px;
    margin-bottom: 10px;
}
