<div class="main-container d-flex justify-content-center">
    <div class="col-sm-10">

        <section class="gradient-form">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-xl-10">
                        <div class="card rounded-5 text-black my-3">
                            <div class="row g-0">
                                <div class="col-lg-12 d-flex align-items-center gradient-custom-2 rounded-5">
                                    <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                                        <!--Insertion du texte defilant-->
                                        <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleSlidesOnly">
                                            <div class="carousel-inner"><!--  style="height: 300px" -->

                                                <div class="carousel-item active">
                                                    <div class="row row-cols-1 row-cols-md-3">
                                                        <div class="col mb-4">
                                                            <div class="d-flex justify-content-center text-center h-100" style="border-radius: 20px; border: 2px solid black">
                                                                <h4 class="my-5">Un espace de gestion de tout confort.</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col mb-4">
                                                            <div class="d-flex justify-content-center text-center h-100" style="border-radius: 20px; border: 2px solid black;">
                                                                <h4 class="my-5">Enseignants, contrats et maisons de cours</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col mb-4">
                                                            <div class="d-flex justify-content-center text-center h-100" style="border-radius: 20px; border: 2px solid black;">
                                                                <h4 class="my-5">La plateforme de gestion des différents acteurs de la
                                                                    structure Josh&Co</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="carousel-item">
                                                    <div class="row row-cols-1 row-cols-md-3">
                                                        <div class="col mb-4">
                                                            <div class="d-flex justify-content-center text-center h-100" style="border-radius: 20px; border: 2px solid black;">
                                                                <h4 class="my-5">Retrouvez le profil qui vous intéresse, cela juste en
                                                                    un clic</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col mb-4">
                                                            <div class="d-flex justify-content-center text-center h-100" style="border-radius: 20px; border: 2px solid black;">
                                                                <h4 class="my-5">Ajoutez, supprimez, modifiez et recherchez sans trop de
                                                                    tracas</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col mb-4">
                                                            <div class="d-flex justify-content-center text-center h-100" style="border-radius: 20px; border: 2px solid black;">
                                                                <h4 class="my-5">Juste une chose, connectez vous en tant
                                                                    qu'administrateur</h4>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
