<div class="main-container d-flex justify-content-center">
    <div class="col-sm-10">

        <div class="list-group">
            <div class="separator">

                <div class="row mt-5">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <h4 class="sub-title" style="font-weight: bold; font-size: xx-large"> Liste des contrats
                        </h4>
                    </div>
                </div>
                <div class="mb-2 col-sm-10 mx-auto"
                     style="height: 10px; background-color: black; border-radius: 5px"></div>
                <br>
                <div class="row d-flex justify-content-end mb-5">
                    <div class="col-md-6 form-group d-flex">
                        <h5 class="search mx-3 mt-2" style="font-size: x-large; font-weight: bolder"> Rechercher </h5>
                        <input (ngModelChange)="searchedContract = $event" [ngModel]="searchedContract"
                               class="form-control form-control-sm"
                               style="border: solid black; border-radius: 50px;" type="text">
                    </div>
                </div>
                <br>

            </div>

            <div class="row row-cols-1 row-cols-md-3">
                <div *ngFor="let contrat of searchedContrat" class="col mb-4">
                    <div class="card h-100" style="border-radius: 20px">
                        <img
                            [alt]="contrat.id"
                            [src]="['assets/ava3.webp']"
                            [title]="contrat.id "
                            class="card-img-top rounded-circle h-50 w-50 mx-auto my-3"
                            style="cursor: pointer;"
                        />
                        <div class="card-body">
                            <h5 class="card-title"
                                style="font-weight: bolder; font-size: large">{{ contrat.maison.noms }}</h5>
                            <p class="card-text" style="font-weight: lighter; font-size: large">
                                {{ contrat.maison.quartier }}
                            </p>
                            <p class="card-text" style="font-weight: lighter;">
                                {{ contrat.montant }}
                            </p>
                        </div>
                        <div class="modif d-flex justify-content-end mb-sm-3 mx-sm-3">
                            <button (click)="delete(contrat.id)"
                                    class="btn btn-primary btn-block gradient-custom-2 border border-color-none"
                                    id="look" style="border-radius: 15px">En savoir
                                plus <i class="fas fa-long-arrow-alt-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
